.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-nav a {
  font-size: 20px;
  font-style: italic;
  color: purple;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}
.navbar-brand
{
  font-style:oblique;
}
/* .card{
  padding-top: 10px;
  margin-left: 100px;
  padding-right: 100px;
  width: 500px;
  height: 900px;
  
} */
h4{
  font-style: italic;
  
}
h2{
  font-style: italic;
  
}
.form-control{
  margin-bottom: 10px;
  margin-top: 10px;

}
#ww{
  margin-top: 10px;
  margin-bottom: 10px;
}
#ss{
  height: 100px;
  width: 700px;
}
#sty{
  font-style:italic;
  color: lightsalmon;
  padding-bottom: 10px;
  padding-left:10px ;
}
.card-img-top{
 
 margin-right: 40px;
 height: 400px;
 width: 400px;
 padding:30px
 
}
#co{
  color: navajowhite;
}
.a{
  text-align: center;
}
.form-control{
  width: 50px;
  margin:20px;
}
#www{
  margin-left: 15px;
}
.cc1{
  width: 200px;

}
.cc{
  width: 300px;
}







.events-list {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  flex: 0 0 33.33%; /* Adjust this value based on the number of cards you want per row */
  padding: 10px;
}

.card2 {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height:400px;
  width:400px;
  border:3px solid purple;
  background-color: aliceblue;
}

.card2 img {
 height:300px;
 width:375px
}
